@model MyDpprProject.Models.Sale

@{
    Layout = "_AdminLayout";
}

<div class="container-fluid">

    <h2 class="fw-bold mb-4">
        Satış Güncelle
    </h2>

    <form method="post">

        <input type="hidden"
               asp-for="SaleId" />

        <div class="bg-white p-4 rounded-4 shadow-sm">

            <div class="mb-3">

                <label class="form-label">
                    İlan Id
                </label>

                <input asp-for="PropertyId"
                       class="form-control p-3">

            </div>

            <div class="mb-3">

                <label class="form-label">
                    Müşteri Id
                </label>

                <input asp-for="UserId"
                       class="form-control p-3">

            </div>

            <div class="mb-3">

                <label class="form-label">
                    Satış Tarihi
                </label>

                <input asp-for="SaleDate"
                       type="date"
                       class="form-control p-3">

            </div>

            <div class="mb-4">

                <label class="form-label">
                    Satış Tutarı
                </label>

                <input asp-for="TotalPrice"
                       class="form-control p-3">

            </div>

            <button class="btn btn-dark px-5 py-3">
                Güncelle
            </button>

            <a href="/Sale/Index"
               class="btn btn-outline-dark px-5 py-3">
                İptal
            </a>

        </div>

    </form>

</div>