@model MyDpprProject.Models.User

@{
    Layout = "_AdminLayout";
}

<div class="container-fluid">
    <h2 class="fw-bold mb-4">Yeni Müşteri</h2>

    <form method="post">
        <div class="bg-white p-4 rounded-4 shadow-sm">

            <div class="mb-3">
                <label class="form-label">Ad Soyad</label>
                <input asp-for="FullName" class="form-control p-3" placeholder="Ad soyad giriniz">
            </div>

            <div class="mb-3">
                <label class="form-label">Email</label>
                <input asp-for="Email" class="form-control p-3" placeholder="Email giriniz">
            </div>

            <div class="mb-3">
                <label class="form-label">Şifre</label>
                <input asp-for="Password" class="form-control p-3" placeholder="Şifre giriniz">
            </div>

            <div class="mb-3">
                <label class="form-label">Rol Id</label>
                <input asp-for="RoleId" type="number" class="form-control p-3" placeholder="1 Admin, 2 User">
            </div>

            <button type="submit" class="btn btn-dark px-5 py-3">Kaydet</button>
            <a href="/User/Index" class="btn btn-outline-dark px-5 py-3">İptal</a>

        </div>
    </form>
</div>