@model MyDpprProject.Models.User

@{
    Layout = "_AdminLayout";
}

<div class="container-fluid">
    <h2 class="fw-bold mb-4">Müşteri Güncelle</h2>

    <form method="post">
        <input type="hidden" asp-for="UserId" />

        <div class="bg-white p-4 rounded-4 shadow-sm">

            <div class="mb-3">
                <label class="form-label">Ad Soyad</label>
                <input asp-for="FullName" class="form-control p-3">
            </div>

            <div class="mb-3">
                <label class="form-label">Email</label>
                <input asp-for="Email" class="form-control p-3">
            </div>

            <div class="mb-3">
                <label class="form-label">Şifre</label>
                <input asp-for="Password" class="form-control p-3">
            </div>

            <div class="mb-3">
                <label class="form-label">Rol Id</label>
                <input asp-for="RoleId" type="number" class="form-control p-3">
            </div>

            <button type="submit" class="btn btn-dark px-5 py-3">Güncelle</button>
            <a href="/User/Index" class="btn btn-outline-dark px-5 py-3">İptal</a>

        </div>
    </form>
</div>